textarea.form-control {height: 34px;}

.group-tools {padding-top: 20px;}

#total {margin-top: 17px; padding: 10px 5px;}

hr { display: block;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 5px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px dashed #ff6d1a;
}

.row.section {
    margin-top: 15px;
    padding-top: 15px;
    background: #96ffff;
    background-repeat:no-repeat;
}